body {
    background-color: rgb(3, 3, 3);
    color: cornsilk;
    font-family:  fantasy;
}

header {
    background-image: url(https://mega.ibxk.com.br/2013/4/materias/9617134910122215.jpg?ims=610x);
    background-size: cover;
    background-position: 50% 25%;
    padding: 60px 30px 40px;
}

td {
    display: block
}

li {
    color: cornsilk;
    list-style: none;
    display: inline-block;
}